#container{
       width: 100%;
       height: 100%;
       background-image: url(../Pics/bg.jpg);
       background-size: cover;
   }

   .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}