#container{
       width: 100%;
       height: 100%;
       background-image: url(../Pics/bg.jpg);
       background-size: cover;
   }

   .wrapper {
    position: absolute;
    top: 87%;
    left: 43%;

}

.button {
    position: absolute;
    top: 50%;
}